
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/custom.css">

    <title>vreaucont</title>
</head>

<body>

<form method="post" class="form" action="/workflow/start" onsubmit="document.getElementById('btn').disabled=true">
<div class="content">
    <div class="sidebar sidebar-left">
    </div>

    <div class="main" id="centerContent">
        <h1>Te salutăm!</h1>
        <p>Ești foarte aproape de noul tău <strong style="color:#0050B4">Cont Total Digital</strong>. Durează 10 minute.</p>
        <p>Vei avea nevoie de cartea de identitate. De asemenea, de camera video și microfon, pentru că dorim să ne și vedem și auzim :)</p>
        <p>Vom parcurge câteva etape:</p>
        <ol>
            <li>Ne vei ajuta cu datele tale de contact: numărul de telefon și adresa de e-mail;</li>
            <li>Vom confirma, împreuna, câteva informații în ceea ce te privește;</li>
            <li>Vom fotografia Cartea de Identitate (în loc de “celebra” copie xerox);</li>
            <li>Vom iniția un apel audio-video, în scopul verificării identității tale<span style="color: #FF2828;">*</span>;</li>
            <li>Vei semna electronic Cererea de deschidere de cont, cu semnătură electronică calificată; apoi, semnăm și noi. Toate documentele le vei primi pe e-mail, alături de informații utile despre cum să accesezi noul tău cont. Total Digital!</li>
        </ol>
        <p>Te rugăm să te asiguri că locul în care te afli nu este prea întunecat, nici excesiv de luminos. Pentru a fi eficienți, îți recomandăm să folosești un laptop / un PC și orice browser de tip desktop.</p>
        <p style="color:#FF2828;">*Serviciul de preluare apeluri audio-video este disponibil în intervalul <b>Luni -Vineri, orele 09:00 – 17:30</b>.</p>
        <p>Ești pregătit?</p>

        <button id="btn" type="submit" class="btn btn-primary btn-md rounded-pill">Da, hai să începem!</button>
    </div>
</div>
</form>
</body>
</html>
