
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/formio.full.min.css}">

    <link rel="stylesheet" th:href="@{/css/flowstep.css}"/>

    <script th:src="@{/js/formio.full.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Load formTranslation json -->
    <script th:src="@{/js/formTranslation.js}"></script>

    <!-- Stepper CSS - minified-->
    <link rel="stylesheet" th:href="@{/css/bs-stepper.min.css}"/>

    <!-- Stepper JavaScript - minified -->
    <script th:src="@{/js/bs-stepper.min.js}"></script>

    <title>Open account</title>
</head>

<body>

<form method="post" class="form" action="/workflow/start" onsubmit="document.getElementById('btn').disabled=true">
<div class="content">
    <div class="sidebar sidebar-left">
    </div>

    <div class="main" id="centerContent">
        <h1>Hello there!</h1>
        <p>You are couple of steps apart from your <strong style="color:#0050B4">Digital account</strong>. It will only take 10 minutes.</p>
        <p>Will go together through the following steps:</p>
        <ol>
            <li>Will need some of your contact details: phone number and e-mail address;</li>
            <li>Will confirm, together, some of your information;</li>
            <li>Will digitally sign the files to open your account; will sign them as well. All the documents will be sent to you by email along with other useful information. All digitally!</li>
        </ol>
        <p>Are you ready?</p>

        <button id="btn" type="submit" class="btn btn-primary btn-md rounded-pill">Yes, let's start!</button>
    </div>
</div>
</form>
</body>
</html>
