
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/formio.full.min.css}">

    <link rel="stylesheet" th:href="@{/css/flowstep.css}"/>

    <script th:src="@{/js/formio.full.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>

    <!-- Load formTranslation json -->
    <script th:src="@{/js/formTranslation.js}"></script>

    <!-- Stepper CSS - minified-->
    <link rel="stylesheet" th:href="@{/css/bs-stepper.min.css}"/>

    <!-- Stepper JavaScript - minified -->
    <script th:src="@{/js/bs-stepper.min.js}"></script>

    <title>Open account</title>
</head>

<body>

<form class="form" id="htmlForm" onsubmit="startProcess(event);">
<div class="content">
    <div class="sidebar sidebar-left">
    </div>

    <div class="main" id="centerContent">
        <h1>Hello there!</h1>
        <p>You are couple of steps apart from your <strong style="color:#0050B4">Digital account</strong>. It will only take 10 minutes.</p>
        <p>Will go together through the following steps:</p>
        <ol>
            <li>Will need some of your contact details: phone number and e-mail address;</li>
            <li>Will confirm, together, some of your information;</li>
            <li>Will digitally sign the files to open your account; will sign them as well. All the documents will be sent to you by email along with other useful information. All digitally!</li>
        </ol>
        <p>Are you ready?</p>

        <button id="btn" type="submit" class="btn btn-primary btn-md rounded-pill">Yes, let's start!</button>
    </div>
</div>
</form>
<div class="content" id="formio" hidden="hidden">
    <div class="main">
        <form method="post">
            <div id="formHolder"></div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    window.onbeforeunload = function(event)
    {
        return confirm("Confirm refresh");
    };

    $(document).ready(function() {
        const source = new EventSource("//localhost:9091/sse");
        source.onopen = e => console.log('on open', e);
        source.addEventListener('message', e => {
            const data = JSON.parse(e.data)
            if (data && data.type === 'task') {
                if (data.processId != null) {
                    document.getElementById('htmlForm').hidden=true
                    document.getElementById('formio').hidden=false
                    document.getElementById('formHolder').innerHTML=null
                    createFormIo(data.processId, data.taskId, data.form, data.isLast, data.isCompleted);
                }
            }
        });
    })

    function startProcess(ev) {
        ev.preventDefault();

        document.getElementById('btn').disabled=true
        fetch("/v2/workflow/start", {method: 'POST'})
    }

    function createFormIo(processId, taskId, formData, isCompleted) {
        var _submission = null
        Formio.createForm(document.getElementById('formHolder'), JSON.parse(formData)).then(function (form) {
            // Prevent the submission from going to the form.io server.
            form.nosubmit = true;
            form.options.noAlerts = true;

            // Triggered when they click the submit button.
            form.on('submit', async function (submission) {
                console.log(submission);
                disableButtons();
                return Formio.fetch(`http://localhost:9091/task/${processId}/complete`, {
                    body: JSON.stringify(submission.data),
                    headers: {
                        'content-type': 'application/json'
                    },
                    method: 'POST',
                    mode: 'same-origin'
                }).then(function (response) {
                })
            });
        });
    }

    function disableButtons() {
        var buttons = $(":button.btn"); // select buttons of class btn from page
        for (i = 0; i < buttons.length; i++) {
            buttons[i].disabled = true;
        }
    }
</script>
</body>
</html>
